@using Microsoft.Ajax.Utilities
@using Microsoft.Ajax.Utilities
@model webshop.Product

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <h2>Details</h2>
    <hr />
    <h4>Product</h4>
    <hr />

</div>
<div class="row">
   
    <div class="col-md-2">
        <img src="@Url.Content(Model.ImagePath)" width="100" height="100">
       
     
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                Productname
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_Name)
            </dd>

            <dt>
              Price
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NetUnitPrice) €
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
               Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Category_Name)
            </dd>

            <dt>
                Manufacturer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer.Manufacturer_Name)
            </dd>

        </dl>
        
        @using (Html.BeginForm())
        {


            <div class="form-horizontal">
             

                @Html.HiddenFor(model => model.Product_ID)



                <div class="form-group col-lg-12">
                    <div class="col-md-3">
                        <input type="number" name="number" min="1" max="10" class="form-control text-center" value="1" placeholder="1">

                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Add to Cart" class="btn btn-default" />
                    </div>


                </div>
            </div>

        }
    </div>
    <div class="col-md-4">
       
    </div>
    
</div>
<div class="row">
    
    <hr />

</div>
<p>

    @Html.ActionLink("Back to List", "Product")
</p>
