@model IEnumerable<webshop.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<br/>
@using (Html.BeginForm("Product", "Products", FormMethod.Get))
{
<p>
    Filter:
    Manufacturer @Html.CheckBox("filterM", true)
    Category @Html.CheckBox("filterC", true)
    <br/>
    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
   
</p>
   


}

<table class="table">
    <tr>
        <th>
          
        </th>
        <th>
            Product
        </th>
        <th>
            Price
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImagePath)" width="50" height="60">
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetUnitPrice) €
            </td>


            <td>

                @Html.ActionLink("Add", "Add", new { id = item.Product_ID }) |

                @Html.ActionLink("Details", "Details", new { id = item.Product_ID })

            </td>
        </tr>
    }

</table>
