@model webshop.Models.User
@{
    ViewBag.Title = "Reset Password";
}


@using (Html.BeginForm())
{
    <h2>Reset Password</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(modelItem => Model.Email)
            @Html.HiddenFor(modelItem => Model.Token)
            <div class="form-group">
                
                @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <hr/>
            <div class="form-group">
                
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>
            
            
            <input type="submit" name="submit" value="Reset" class="btn btn-default"/>
        </div>
    </div>

}