@model webshop.OrderLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetUnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetUnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTable.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTable.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Product_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderLine_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
