@model webshop.ViewModel.OrderCustomerOrderLine
@{
    ViewBag.Title = "Thank you for your Order";
}

@Html.HiddenFor(modelItem => Model.Order_Id)
<div class="col-lg-12">

    <h2>Products</h2>
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                ProduktNr.
            </th>
            <th>
                Productname
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>


        @for (var i = 0; i < Model.OrderLineProductList.Count(); i++)
        {

            @Html.HiddenFor(modelItem => Model.OrderLineProductList[i].Order_Id)
            @Html.HiddenFor(modelItem => Model.OrderLineProductList[i].ID)

            <tr>
                <td>
                    <img src="@Url.Content(Model.OrderLineProductList[i].ImagePath)" width="50" height="60">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].Product_ID)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].Manufacturer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].Amount)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].NetUnitPrice) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OrderLineProductList[i].priceLine) €
                </td>
                <td>
                </td>


            </tr>
        }
     
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>

                <td>
                    
                </td>
                <td>
                   
                <td>


            </tr>
        

        <tr>
            <td style="text-align: end; padding: 10px">
           
            </td>
            <td>
           
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>

            <td>
                <p style="font-size: medium"> Total price:</p>
            </td>
            <td>
                @ViewBag.Total €
            </td>
            <td>


        </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>

            <td>
                <p style="font-size: medium"> Tax:</p>
            </td>
            <td>
                @ViewBag.UST €
            </td>
            <td>


        </tr>

    </table>
    <hr />
</div>

<h1>Invoice</h1>

<h3>Payment to:</h3>

<address>
    <strong>
        Payment Receiver:
    </strong>Oliver Rotter<br />
    <strong>
        Company:
    </strong>Electronic 4 You e.U.<br />
    <strong>
        Addr:
    </strong>Simmeringer Hauptraße 47-49, Wien - 1110<br />

    <strong>Bank:</strong>  Erste Bank<br />
    <strong>IBan:</strong> 	AT61 1904 3002 3457 3201<br />
    <strong>BIC:</strong> 	GIBAATWW <br />
    <strong>BLZ:</strong> 	20111 <br />

    <strong>
        <abbr title="Phone">Tel:</abbr>
    </strong>
    0800 1234 98765 <br />
    <strong>Email:</strong>   <a href="mailto:contact@oliver-rotter.com">contact@oliver-rotter.com</a><br />

</address>

<h2 class="text-center">We also recommend you this products!</h2>
<div class="row">
    @foreach (var item in Model.RecommendedProducts)
    {


        <div class="col-md-4" style="border: black;border-style: solid;border-width: 1px; text-align: center">

            @Html.DisplayFor(modelItem => item.Product_Name)

            <div>
                <img src="@Url.Content(item.ImagePath)" width="100" height="100">
            </div>
            Price: @Html.DisplayFor(modelItem => item.NetUnitPrice) €
            @Html.ActionLink("Details", "Details", "Products", new { id = item.Product_ID }, null)

        </div>
    }
</div>

